<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wideth, initial-scale=1.0">
    <meta http-equiv="X-UA-COmpatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id=container>
        <div id="banner">
            <div id="banner-icon"><i class="banner-flex-item fa fa-camera-retro" aria-hidden="true"></i></div>
            <span id="banner-text"
            class="banner-flex-item"> Jiayi Gu's Photo App
            </span>
        </div>
        <nav id="nav-bar" class="nav-items">
            <li> <input id="search-text" , name="serach-text" type="text"> </li>

            <li> <a href="../public/css/index.css" id="home">Home</a> </li>

            <li> <a href="../public/css/postimage_style.css" id="post-button" class="nav-items anchor-buttons">Post</a> </li>

            <li> <a href="../public/css/login_style.css" id="authenticate-button" class="nav-items anchor-buttons">Log In</a> </li>

            <li> <a href="../public/css/registration.css" id="authenticate-button" class="nav-items anchor-buttons">Registration</a> </li>
           
        </nav>
        <div id="main-content">


        </div>
        <footer id="footer">
            <span id="footer-name">Jiayi Gu @ 2021</span> <a id="email-link" href="mailto:jgu3@mail.sfsu.edu">Contact Owner</a>
        </footer>
    </div >

    
</body>