<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/postimage_style.css">
    <title>Post Image</title>
</head>
<body>
    <header>
        <h1>Post Image</h1>
    </header>
    <form>
        <div><label for="title">Post Title</label>
            <input type="text" name="title">
            <br>
            <br>
            <label for="description">Description</label>
            <input type="text" name="description"><br>
            <br>
            <label for="image">Image</label>
            <br>
            <input type="file" name="image">
            <br>
            <br>
            <input type="radio" name="privicyrule">
            <label for="privicyrule">Click if you accept Use Policy fo uploading images</label>
            <br>
            <br>
            <button type="submit">submit image post</button></div>
    </form>
</body>
</html>