header{
    width: 27.5rem;
    border-radius: 1vmax;
    border: .2rem solid #427aa0;
    box-shadow: 2px 2px 2px #083a57;
    margin: 0 0 20px 0;
    color: #0d122b;
    background-color: #56a3d6;
    font-family: fantasy;
    text-shadow: 3px 3px 3px steelblue;
}

body{
    width: 28rem;
    margin: auto;
    border: 2px solid rgb(141, 175, 207);
    border-radius: 2vmax;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/613f0526-23b0-41c4-b454-bd582ffeeb55/d2pvzkd-c161acd6-efff-401c-859d-25a722a30a3f.jpg/v1/fill/w_1000,h_800,q_70,strp/windows_7_aqua_logon_screen_by_zedzna_d2pvzkd-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2ZcLzYxM2YwNTI2LTIzYjAtNDFjNC1iNDU0LWJkNTgyZmZlZWI1NVwvZDJwdnprZC1jMTYxYWNkNi1lZmZmLTQwMWMtODU5ZC0yNWE3MjJhMzBhM2YuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.8uBWwNSIVeeFo6HUYylF-inNbmB3k1bGjDYJh-eNAso);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
}

label{
    border: 2px solid rgba(73, 156, 211, 0.541);
    margin: 10px;
    padding: 5px;
    border-radius: 3vmax;
    font-family: fantasy;
    color:rgba(7, 20, 48, 0.541);
}

button{
    padding-top: 10px;
    padding: 5px;
    background-color: rgba(177, 201, 223, 0.904);
    margin-left: 6rem;
    width: 8rem;
    border-radius: 5vmax;
    font-family: fantasy;
    font-size: 20px;
}

button:hover{
    background-color: #56a3d6;
}

form{
    margin: 3rem;
}

.gird-container{
    display: grid;
    height: 50vh;
    margin: auto auto auto;
    background-color:rgba(170, 241, 250, 0.925);
    border-radius: 2vmax;
}

input{
    font-family: fantasy;
}