body{
    margin: auto;
    width: 35rem;
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_coco_16x9_9ccd7110.jpeg?region=0,0,1920,1080&width=960);
    background-color: rgba(255, 255, 255, 0.486);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button{
    padding: 5px;
    width: 10rem;
    font-size: 1rem;
    font-family: cursive;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover{
    background-color: #c8a4e0;
}

form{
    text-align: center;
    height: auto;
    margin: 5px;
    font-family: cursive;
}

h1{
    padding-top: 40px;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5c0794;
    font-size: 5vh;
    font-family: cursive;
}

input{
    font-family: cursive;
}

input[type=text],input[type=email],input[type=password]{
    height: 27px;
}

label{
    display: inline-block;
    width: 175px;
    text-align: center;
    padding: 3px;
    border: 1px solid white;
    cursor: pointer;
}

section{
    border: 2px hidden #bea1c7;
    background-color: rgb(194, 206, 243);
    height: 100%;
    padding-bottom: 30px;
}

.error {
    display: block;
    margin-left: 100px;
    text-align: left;
    font-weight: bold;
    color: red;
}

.green {
    color: green;
}

.grid-container{
    margin: auto auto auto;
}

.long{
    width: 400px;
    text-align: left;
    border: 0;
}

.red{
    color: red;
}