section::first-letter{
    color:rgb(22, 183, 223);
}

header{
    border: 2px hidden #ffffff;
    text-align:center;
    width: 46rem;
    margin: auto;
}

div{
    border: 2px hidden #ffffff;
    text-align:center;
    width: 47rem;
    margin: auto;
}

body{
    font-family:cursive;
    background-image: url(https://image.freepik.com/free-vector/colourful-watercolour-texture_1048-11773.jpg);
    background-color: rgba(255, 255, 255, 0.486);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header,div,h1 {
    border: 2px hidden #755d5d;
    border-radius: 5vmax;
    width: 46rem;
    background-color:rgb(209, 243, 232);
}